out
dist
node_modules
.test-data
.vscode-test
.vscode-test-web
*.vsix
scripts/*
server/expr_parser/*

client/src/browserClientMain.ts
client/src/extension.ts
client/src/test/extension.test.ts
client/src/test/formattingProvider.test.ts
client/src/test/utils.ts
server/src/ahkProvider.ts
server/src/browserServerMain.ts
server/src/codeActionProvider.ts
server/src/colorProvider.ts
server/src/commandProvider.ts
server/src/common.ts
server/src/completionProvider.ts
server/src/constants.ts
server/src/definitionProvider.ts
server/src/formattingProvider.ts
server/src/hoverProvider.ts
server/src/Lexer.ts
server/src/localize.ts
server/src/PEFile.ts
server/src/referencesProvider.ts
server/src/renameProvider.ts
server/src/scriptrunner.ts
server/src/semanticTokensProvider.ts
server/src/server.ts
server/src/signatureProvider.ts
server/src/symbolProvider.ts