*
**

# !pic/**
!client/dist/*.js
!server/dist/*.js
!server/dist/*.ahk
!syntaxes/**
!language-configuration.json
!icon.png
!icon_filetype.png
!package.json
!package.*.json
!README.md
!CHANGELOG.md
!LICENSE