.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/package-lock.json
**/webpack.config.js
contributing.md
.travis.yml
src/**
scripts/**
node_modules/**
client/testFixture/**
client/node_modules/**
server/node_modules/**
*.vsix